[submodule "components/components/ESP32-VL53L0X"]
	path = components/components/ESP32-VL53L0X
	url = https://github.com/bigredelf/ESP32-VL53L0X.git
[submodule "components/esp32-i2c-lcd1602"]
	path = components/esp32-i2c-lcd1602
	url = https://github.com/DavidAntliff/esp32-i2c-lcd1602
[submodule "components/esp32-smbus"]
	path = components/esp32-smbus
	url = https://github.com/DavidAntliff/esp32-smbus
